/* global rtl class */
[dir=rtl] .text-right-rtl{
    text-align: right;
}
[dir=rtl] .pd-left-rtl{
    padding-right: 0 !important;
    padding-left: 10px;
}
[dir=rtl] .pd-right-rtl{
    padding-left: 0 !important;
    padding-right: 5px;
}
[dir=rtl] .mr{
    margin-right: 0 !important;
}
[dir=rtl] .ml{
    margin-left: 0 !important;
}
[dir=rtl] .rtl-pd-check-box{
    padding-right: 0 !important;
    padding-left: 15px;
}
[dir=rtl] .rtl-pr-check-box{
    padding-left: 0 !important;
    padding-right: 40px !important;
}
[dir=rtl] .rtl-ml-detail{
    margin-right: 0 !important;
    margin-left: 10px;
}
[dir=rtl] .rtl-mr-detail{
    margin-left: 0 !important;
    margin-right: 10px;
}
[dir=rtl] .cus-fav{
    left: 30px;
    right: unset;
}
/* global rtl class End*/
[dir=rtl] .rtl-ml{
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
}
[dir=rtl] .rtl-mr{
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
} 
[dir=rtl] .hero-banner h1{
    text-align: right;
}
[dir=rtl] .dropdown .lang-btn i{
    padding-right: 5px;
}
[dir=rtl] .header_area .head-menu li:last-child{
    margin-right: 35px;
}
[dir=rtl] .card-custom .profile-info ul li:first-child{
    margin-right: 0px !important;
}
[dir=rtl] .header_area .head-menu:first-child{
    margin-right: 0;
}
[dir=rtl] figure.effect-milo img{
    transform: translate3d(3rem, 0, 0) scale(1.12);
}
[dir=rtl] .vtooltip .vtooltiptext{
    left: 10px;
}
/* Home css End */

/* Mobile Side Menu*/
[dir=rtl] .mobile-side a i{
    margin-right: 0;
    margin-left: 15px;
}
/*Mobile Side Menu End*/

/* Side Navigattion */
[dir=rtl] .cus-sidebar{
    border-right: none;
    border-left: 1px solid #dee2e6;
    text-align: right;
}
[dir=rtl] .active-sidebar{
    border-left: none !important;
    border-right: 4px solid #222325 !important;
}
[dir=rtl] .cus-sidebar .sidebar-cus-inner a li i{
    margin-right: 0 !important;
    margin-left: 5px;
}
/* Side Navigattion */

/* inbox */
[dir=rtl] sidebar .list-wrap .list img{
    margin: 0 0 0 10px;
}
[dir=rtl] .content-inbox header img{
    margin: 0 0 0 10px;
}
[dir=rtl] a.send-btn{
    margin: 0px -50px 0 0;
    border-radius: 4px 0px 0px 4px;
}
/* inbox End*/

/* listing product */
[dir=rtl] .custom-product .product-content{
    text-align: right;
}
[dir=rtl] .custom-product .custom-toggle{
    border-left: none;
    border-right: 1px solid #dee2e6;
}
[dir=rtl] .bd-right-rtl{
    border-left: none !important;
    border-right: 1px solid #dee2e6!important;
}
[dir=rtl] .custom-product .custom-toggle .edit-btn i{
    padding-left: 2px;
}
[dir=rtl] .pd-ltr-product{
    padding-right: 5px !important;
    padding-left: 10px !important;
}
[dir=rtl] .card-custom .card-content .top-content .profile-content{
    text-align: right;
    padding: 0 10px 0 0 !important;
}
/* listing product End*/
[dir=rtl] .form-group{
    text-align: right;
}
/* modal */
[dir=rtl] .modal-header .close{
    padding: 0;
    margin: 0;
}
/* End*/
[dir=rtl] .list-inline-item:not(:last-child){
    margin-right: 0;
}
[dir=rtl] .list-inline-item:not(:first-child){
    margin-right: 0.5rem;
}
[dir=rtl] .policy-content-title{
	text-align: right;
}
[dir=rtl] .policy-content{
    text-align: right;
}
[dir=rtl] .policy-content ul li a{
    color: #fdb750;
}
@media (max-width: 991px){
    [dir=rtl] header .lang-res{
        max-width: 100%;
        margin-left: unset;
    }
    [dir=rtl] .header_area .navbar-brand{
        width: 100%;
        text-align: right;
    }
    [dir=rtl] .header_area .ham-custom{
        left: 20px;
        right: unset;
    }
}
@media (max-width: 767px){
    [dir=rtl] .custom-product .custom-toggle{
        border-right: none;
    }
    [dir=rtl] header .lang-res{
        margin-left: 30px;  
    }
    [dir=rtl] .header_area .ham-custom{
        left: 5px;
        right: unset;
    }
}
@media (max-width: 575px){
    [dir=rtl] .bd-right-rtl{
        border-right: none !important;
    }
    [dir=rtl] .custom-booking-user .custom-booking-user-inner .custom-booking-user-detail{
        padding-right: 0;
        padding-right: 15px;
    }
    [dir=rtl] .pd-ltr-product{
        padding-left: 5px !important;
    }
}
@media (max-width: 375px){
    [dir=rtl] header .lang-res{
        margin-left: 40px;
    }
}