@keyframes circleGrow {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	100% {
		transform: scale(5);
		opacity: 0;
	}
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: primaryFont;
	src: url("../css/fonts/dinnextltarabic.ttf");
}

body {
	color: #2B2B2B;
	font-family: primaryFont;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.667;
	background: #ffffff;
	overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d6d6d6;
}

.modal-body-filter::-webkit-scrollbar {
	width: 8px;
}

ul.list-group.list-group-flush.pl-3 {
	padding: 0px !important;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #222325;
}

a:hover {
	text-decoration: none;
	color: #1dbf73 !important;
}

.main-banner {
	background-image: url('../front/images/banners/banner-2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	/* min-height: 70rem; */
	width: 100%;
	background-position: 33% 22%;
	background-size: cover;
	height: 56rem;
	background-attachment: fixed;
}

/* global style start
============================================================================================ */
.vbg-default {
	background: #f5f5f5;
}

.vbg-default-hover:hover {
	background: #efefef;
	color: #000;
}

.h6 a {
	list-style: none;
	text-decoration: none;
	color: #333;
}

.mt-m-15 {
	margin-top: -15px !important;
}

.minus-mt-20 {
	margin-top: -20px;
}

.mt-m-30 {
	margin-top: -30px;
}

.minus-mt-6 {
	margin-top: -6px;
}

.mt-70 {
	margin-top: 7rem;
}


.mt-25 {
	margin-top: 25px;
}

/* padding */
.pt-70 {
	padding-top: 25px;
}

.pb-70 {
	padding-bottom: 70px !important;
}

.pl-25 {
	padding-left: 25px !important;
}

.filter-h {
	height: 100vh !important;
}

.min-w-250 {
	min-width: 250px;
}

.min-w-320 {
	min-width: 320px;
}

.max-w-450 {
	max-width: 500px;
}

.w-188 {
	width: 188px;
}

.intl-tel-input {
	width: 100% !important;
}

.pl-7,
.px-7 {
	padding-left: 4rem !important;
}

.border-ddd {
	border: 1px solid #ddd
}

/************* footer icon css **********************/
.currency:hover {
	background: #eeeeee8c;
	border-radius: 6px;
}

.currency-active {
	background: #e6e1e10f !important;
	border-radius: 6px;
}


.social {
	position: relative;
}

.social ul {
	text-align: center;
	z-index: 99;
}

.social li {
	display: inline-block;
	margin: 5px;
}

.active-sidebar {
	font-size: 14px;
	border-left: 4px solid #222325 !important;
	color: #222325;
	font-weight: 700;
	background: #efefef;
}

.active-sidebar:hover {
	color: #fcb23e;
}

/* z-index */
.z-index-high {
	z-index: 100000000;
}

.z-index-medium {
	z-index: 1000;
}

.z-index-low {
	z-index: 100;
}

.text-8 {
	font-size: .8rem;
}

.text-9 {
	font-size: .9rem;
}

.text-10 {
	font-size: 1rem;
}

.text-11 {
	font-size: 1.1rem;
}

.text-12 {
	font-size: 1.2rem;
}

.text-13 {
	font-size: 1.3rem;
}

.text-14 {
	font-size: 1.4rem;
}

.text-15 {
	font-size: 1.5rem;
}

.text-16 {
	font-size: 1.6rem;
}

.text-17 {
	font-size: 1.7rem;
}

.text-18 {
	font-size: 1.8rem;
}

.text-19 {
	font-size: 1.9rem;
}

.text-20 {
	font-size: 2rem;
}

.text-21 {
	font-size: 2.1rem;
}

.text-22 {
	font-size: 2.2rem;
}

.text-23 {
	font-size: 2.3rem;
}

.text-24 {
	font-size: 2.4rem;
}

.text-25 {
	font-size: 2.5rem;
}

.text-26 {
	font-size: 2.6rem;
}

.text-27 {
	font-size: 2.7rem;
}

.text-28 {
	font-size: 2.8rem;
}

.text-29 {
	font-size: 2.9rem;
}

.text-30 {
	font-size: 3rem;
}

.text-31 {
	font-size: 3.1rem;
}

.text-32 {
	font-size: 3.2rem;
}

.text-33 {
	font-size: 3.3rem;
}

.text-34 {
	font-size: 3.4rem;
}

.text-35 {
	font-size: 3.5rem;
}

.text-36 {
	font-size: 3.6rem;
}

.text-52 {
	font-size: 3.6rem;
}

.text {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line-height-1-1 {
	line-height: 1 !important;
}

.line-height-1-4 {
	line-height: 1.4;
}

.line-height-1-5 {
	line-height: 1.5;
}

.font-weight-400 {
	font-weight: 400;
}

.font-weight-500 {
	font-weight: 500;
}

.font-weight-600 {
	font-weight: 600;
}

.font-weight-700 {
	font-weight: 700;
}

.font-weight-800 {
	font-weight: 800;
}

.font-weight-900 {
	font-weight: 900;
}

.text-color {
	color: #222325;
}

.secondary-text-color {
	color: #1dbf73;
}

.secondary-text-color-hover:hover {
	color: #fff !important;
}

.text-color-hover:hover {
	color: #fcb23e;
}

.primary-text {
	color: #007bff;
}

.primary-text-hover {
	color: #fff;
}

.warning-text {
	color: #ffc107;
}

.warning-text-hover:hover {
	color: #fff;
}

.success-text {
	color: #1dbf73;
}

.step-inactive {
	background: #dfdbd2;
}

.listingbg {
	margin-bottom: 15px;
	margin-top: 15px;
}

.printareabg p {
	margin: 0;
	font-size: 14px;
}

.printareabg a {
	font-size: 14px;
}

.success-text-hover {
	color: #fff;
}

.danger-text {
	color: #dc3545;
}

.danger-text-hover {
	color: #fff;
}

.dark-text {
	color: #333333;
}

.dark-text-hover {
	color: #fff;
}

.light-text {
	color: #F8F6F7;
}

.light-text-hover {
	color: #333333;
}

.gray-text {
	color: #707070;
}

.gray-text-hover {
	color: #C0C0C0;
}

.text-muted {
	color: #62646a !important;
}

.vbadge-success {
	background: #fcb23e;
	color: #FFF;
}

/* background color */
.secondary-bg {
	background: #1dbf73;
	color: #fff;
}

.btn-outline-warning {
	border-color: #ff4007;
	color: #ff4007;
}

.btn-outline-warning:hover,
.btn-outline-warning:active {
	color: white !important;
	background: #ff4007 !important;
}

.btn-outline-warning:focus {
	box-shadow: 0 0 0 0.2rem rgb(255 148 105);
}

.btn-photo {
	background: #fcb23e;
	color: #fff;
}

.btn-photo:hover {
	background: #fcb23e;
	color: #fff;
}

/* status color */
.Pending {
	background: #62646a;
	color: #FFF;
}

.Expired {
	background: #f92525;
	color: #FFF;
}

.Accepted {
	background: #1dbf73;
	color: #FFF;
}

.vrent-button {
	cursor: pointer;
	border: 0;
	padding: .8rem;
	position: relative;
	overflow: hidden;
}

.ui-datepicker .ui-datepicker-next {
	right: 15px;
}

.ui-datepicker .ui-datepicker-left {
	left: 20px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 3px;
	width: 1.8em;
	height: 1.8em;
}

button:focus {
	border: 0;
	outline-color: transparent;
}

.vrent-button span {
	display: block;
	position: relative;
	z-index: 1;
}

.vrent-button span::after {
	content: '';
	position: absolute;
	z-index: -1;
	top: calc(50% - 1.5rem);
	left: calc(50% - 1.5rem);
	background: rgba(255, 255, 255, 0.7);
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	transform: scale(0);
}

button.vbtn-default {
	background: #fcb23e;
	color: #fff !important;
	font-weight: 700;
}

button.vbtn-default:hover {
	background: #fcb23e;
	color: #fff;
}

button.vbtn-primary {
	background: #007bff;
	color: #fff;
}

button.vbtn-primary:hover {
	background: #0069D9;
}

button.vbtn-warning {
	background: #ffc107;
	color: #fff;
}

button.vbtn-warning:hover {
	background: #E0A800;
}

button.vbtn-success {
	background: #fcb23e;
	color: #fff !important;
}

button.vbtn-success:hover {
	color: #fdb041 !important;
	background-color: white;
	border: 1px solid #fdb041;
}

button.vbtn-danger {
	background: #dc3545;
	color: #fff !important;
}

button.vbtn-danger:hover {
	background: #C82333;
}

button.vbtn-dark {
	background: #333333;
	color: #fff;
}

button.vbtn-dark:hover {
	background: #23272B;
	color: #04ae75;
}

button.vbtn-light {
	background: #F8F6F7;
	color: #3a3a3a;
}

button.vbtn-light:hover {
	background: #E0E0E0;
	color: #333333;
}

.button-default {
	border-radius: .5rem;
}

.button-reactangular {
	border-radius: 0rem;
}

.button-rounded {
	border-radius: 5rem;
}

.button-rounded-4 {
	border-radius: .4rem;
}

.vbtn-outline-success {
	color: #fcb23e !important;
	border-color: #fcb23e !important;
}

.vbtn-outline-success:hover {
	color: #ffffff;
	border-color: #fcb23e;
	background: #fcb23e;
}

a.vbtn-outline-success:hover {
	color: #ffffff !important;
	border-color: #fcb23e;
	background: #fcb23e;
}

.btn-outline-secondary:hover {
	color: #ffffff !important;
}

.single-border {
	border: 1px solid #a4a4a4 !important;
}

.border-r-10 {
	border-radius: 10px;
}

.border-r-25 {
	border-radius: 25px;
}

ul.customlisting {
	margin-top: 8px;
}

ul.customlisting li a {
	width: 100%;
}

ul.customlisting li {
	line-height: 54px;
}

.rounded-4 {
	border-radius: .4rem;
}

.rounded-3 {
	border-radius: .3rem !important;
}

.vrent-button:focus:not(:active) span::after {
	animation: circleGrow 0.3s linear;
}

.list-background {
	background: #fff;
}

.p-15 {
	padding: 5rem
}

.mt-80 {
	margin-top: 8rem;
}

.intl-tel-input input,
.intl-tel-input input[type=text],
.intl-tel-input input[type=tel] {
	padding-left: 9.8rem !important;
}

/******************** Toggle Switch ****************/

.main-toggle-switch span {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px
}

/*  Toggle Switch  */

.toggleSwitch span span {
	display: none;
}

@media only screen {
	.toggleSwitch {
		display: inline-block;
		height: 18px;
		position: relative;
		overflow: visible;
		padding: 0;
		margin-left: 40px;
		cursor: pointer;
		width: 80px
	}

	.toggleSwitch * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.toggleSwitch label,
	.toggleSwitch>span {
		line-height: 20px;
		height: 20px;
		vertical-align: middle;
	}

	.toggleSwitch input:focus~a,
	.toggleSwitch input:focus+label {
		outline: none;
	}

	.toggleSwitch label {
		position: relative;
		z-index: 3;
		display: block;
		width: 100%;
	}

	.toggleSwitch input {
		position: absolute;
		opacity: 0;
		z-index: 5;
	}

	.toggleSwitch>span {
		position: absolute;
		left: -50px;
		width: 100%;
		margin: 0;
		padding-right: 50px;
		text-align: left;
		white-space: nowrap;
	}

	.toggleSwitch>span span {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		display: block;
		width: 100%;
		margin-left: 45px;
		text-align: left;
		font-size: 0.9em;
		width: 100%;
		left: -55%;
		top: 1px;
		opacity: 0;
	}

	.toggleSwitch a {
		position: absolute;
		right: 50%;
		z-index: 4;
		display: block;
		height: 100%;
		padding: 0;
		top: 2px;
		left: -45px;
		width: 18px;
		background-color: #fff;
		border: 1px solid #CCC;
		border-radius: 100%;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.toggleSwitch>span span:first-of-type {
		color: #888888;
		opacity: 1;
		left: 45%;
	}

	.toggleSwitch>span:before {
		content: '';
		display: block;
		width: 120px;
		height: 35px;
		position: absolute;
		left: 0px;
		top: -2px;
		background-color: #efefef;
		border: 1px solid #efefef;
		border-radius: 30px;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	.toggleSwitch input:checked~a {
		border-color: #fff;
		left: 100%;
		margin-left: -8px;
	}

	.toggleSwitch input:checked~span:before {
		border-color: #fcb23e;
		box-shadow: inset 0 0 0 30px #fcb23e;
	}

	.toggleSwitch input:checked~span span:first-of-type {
		opacity: 0;
	}

	.toggleSwitch input:checked~span span:last-of-type {
		opacity: 1;
		color: #fff;
		top: 2px;
	}

	/* Switch Sizes */
	.toggleSwitch.large {
		width: 60px;
		height: 27px;
	}

	.toggleSwitch.large a {
		width: 27px;
	}

	.toggleSwitch.large>span {
		height: 29px;
		line-height: 28px;
	}

	.toggleSwitch.large input:checked~a {
		left: 45px;
		top: 2px;
	}

	.toggleSwitch.large>span span {
		font-size: 13px;
		font-weight: 600;
	}

	.toggleSwitch.large>span span:first-of-type {
		left: 0%;
		top: 2px;
	}

	.toggleSwitch.xlarge {
		width: 80px;
		height: 36px;
	}

	.toggleSwitch.xlarge a {
		width: 36px;
	}

	.toggleSwitch.xlarge>span {
		height: 38px;
		line-height: 37px;
	}

	.toggleSwitch.xlarge input:checked~a {
		left: 52px;
	}

	.toggleSwitch.xlarge>span span {
		font-size: 1.4em;
	}

	.toggleSwitch.xlarge>span span:first-of-type {
		left: 50%;
	}
}


/*  End Toggle Switch  */


/* global style end
============================================================================================ */
/* header style start
============================================================================================ */
.header_area {
	position: relative;
	transition: background 0.4s, all 0.3s linear;
	z-index: 1000;
	/* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.11); */
	border-bottom: 1px solid #dbdcdd;
}

/* .h-login-btn{
	border: 1px solid #fcb23e !important;
} */
.header_area .header-custom {
	padding: 15px 0;
	background-color: #fff;
}

.header_area .head-menu {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_area .head-menu li {
	margin-right: 35px;
}

.header_area .head-menu li:last-child {
	margin-right: 0;
}

.header_area .head-menu li a {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	padding-bottom: 2px;
	cursor: pointer;
	transition: .4s all;
}

.header_area .head-menu li a::before {
	content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    background-color: #fcb23e;
    transition: all .3s ease-in-out;
}

.header_area .head-menu li a:hover::before {
	width: 100%;
}

.header_area .head-menu li a.active-underline::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.header_area .head-menu li a p {
	line-height: 1.3;
	padding-bottom: 2px;
}

.header_area .lang-res {
	height: 100%;
	align-items: center;
	justify-content: end;
}

.header_area .head-btn {
	background: none;
	border: none;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	padding: 0;
	margin-right: 15px;
}

.header_area .navbar-right {
	min-width: 20rem;
	text-align: right;
}

.header_area .navbar-brand {
	margin-right: 3rem;
	padding: 0;
}

.header_area .navbar-social {
	min-width: 9.5rem;
	float: right;
}

.header_area .navbar-social li {
	margin-right: 1.2rem;
}

.header_area .navbar-social li i,
.header_area .navbar-social li span {
	font-size: 1.3rem;
}

.header_area .navbar-social li:last-child {
	margin-right: 0;
}

.header_area .navbar-social li a:hover i,
.header_area .navbar-social li span {
	color: #1dbf73;
}

.header_area .menu_nav {
	width: 100%;
}

.header_area .navbar {
	background: transparent;
	border: 0px;
	border-radius: 0px;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.header_area .navbar .nav-right {
	min-width: 20rem;
}

.header_area .navbar .nav .nav-item {
	margin-right: 3.5rem;
}

.header_area .navbar .nav .nav-item .nav-link {
	color: #2B2B2B;
	text-transform: uppercase;
	font-weight: 700;
	padding: 2.2rem 0;
	display: inline-block;
	font-size: 1.4rem;
}

.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
	color: #fcb23e;
	opacity: 1;
}

.header_area .navbar .nav .nav-item.submenu {
	position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
	border: none;
	padding: 0px;
	border-radius: 0px;
	box-shadow: none;
	margin: 0px;
	background: #fff;
}

.header_area .navbar .nav .nav-item.submenu ul:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1rem 1rem 0 1rem;
	border-color: #eeeeee transparent transparent transparent;
	position: absolute;
	right: 2.4rem;
	top: 4.5rem;
	z-index: 3;
	opacity: 0;
	transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
	display: block;
	float: none;
	margin-right: 0px;
	border-bottom: .1rem solid #ededed;
	margin-left: 0px;
	transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
	line-height: 4.5rem;
	color: #6059f6 !important;
	padding: 0px 3rem;
	transition: all 150ms linear;
	display: block;
	margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
	border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
	margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
	margin-right: 0px;
}

.header_area .navbar .search {
	font-size: 1.2rem;
	line-height: 6rem;
	display: inline-block;
	margin-left: 8rem;
}

.header_area .navbar .search i {
	font-weight: 600;
}

.header_area.navbar_fixed .main_menu {
	position: fixed;
	width: 100%;
	top: -7rem;
	left: 0;
	right: 0;
	z-index: 99;
	transform: translateY(7rem);
	transition: transform 500ms ease, background 500ms ease;
	-webkit-transition: transform 500ms ease, background 500ms ease;
	box-shadow: 0rem 0.3rem 1.6rem 0rem rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #dbdcdd;
}

.header_area.navbar_fixed .main_menu .navbar {
	background: #ffffff;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
	/*line-height: 20px;*/
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link {
	/*color: #fff;*/
}

.header_area.white_menu .navbar .nav .nav-item .nav-link {
	color: #fff;
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
	display: inline-block;
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img+img {
	display: none;
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
	line-height: 7rem;
}

.top_menu {
	background: #ec9d5f;
}

.top_menu .float-left a {
	line-height: 4rem;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-right: 5rem;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.top_menu .float-left a:last-child {
	margin-right: 0px;
}

.top_menu .float-right .pur_btn {
	color: #fff;
	line-height: 4rem;
	display: block;
	padding: 0px 4rem;
	font-weight: 500;
	font-size: 1.2rem;
}

/* Image size */
.list-photo {
	width: 100%;
	max-height: 180px;
}

.user-photo {
	width: 60px;
	height: 60px;
}

.img-40x40 {
	width: 40px;
	height: 40px;
}

.img-130x32 {
	width: 130px;
	height: 32px;
}

.img-60x60 {
	width: 60px;
	height: 60px;
}

.border-radius-50p {
	border-radius: 50%;
}

.img-70x70 {
	width: 70px;
	height: 70px;
}

.img-90x90 {
	width: 90px;
	height: 90px;
}

.img-100x100 {
	width: 100px;
	height: 100px;
}

.img-tpl {
	max-height: 150px;
	width: 100%
}

.w-450 {
	width: 450px;
}

.min-h-300 {
	min-height: 300px;
}

.v-h-100 {
	height: 100vh;
}

.h-100 {
	height: 100%;
}

/* header style end*/
@media (max-width: 1619px) {

	/* Main Menu Area css */
	.header_area .navbar .search {
		margin-left: 4rem;
	}

	/* End Main Menu Area css*/
}

@media (max-width: 1199px) {

	/* Main Menu Area css*/
	.header_area .navbar .nav .nav-item {
		margin-right: 2.8rem;
	}

	/* End Main Menu Area css */
	/* Home Banner Area css*/
	.home_banner_area .banner_inner {
		padding: 10rem 0rem;
	}

	/* End Home Banner Area css */
	.header_area .navbar .tickets_btn {
		margin-left: 4rem;
	}

	.home_banner_area .banner_inner .banner_content h2 br {
		display: none;
		font-size: 3.6rem;
	}

	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 3.6rem;
		line-height: 4.5rem;
	}
}

@media (max-width: 991px) {

	/* Main Menu Area css */
	.navbar-toggler {
		border: none;
		border-radius: 0px;
		padding: 0px;
		cursor: pointer;
		margin-top: 2.7rem;
		margin-bottom: 1.9rem;
		margin-right: 12px;
		margin-left: 12px;
	}

	.header_area .navbar {
		background: #f5f5f5;
	}

	.header_area .navbar .nav-item.active .nav-link {
		color: #6059f6 !important;
	}

	.navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}

	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}

	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: .75rem;
	}

	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: .6rem;
		position: relative;
	}

	.navbar-toggler span {
		display: block;
		width: 2.5rem;
		height: .3rem;
		background: #000000;
		margin: auto;
		margin-bottom: .4rem;
		transition: all 400ms linear;
		cursor: pointer;
	}

	.navbar .container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.nav {
		padding: 0px 0px;
	}

	.header_top .nav {
		padding: 0px;
	}

	.header_area .navbar .nav .nav-item .nav-link {
		padding: 1.2rem 0;
		margin-right: 0px;
		display: block;
		border-bottom: .1rem solid #ededed33;
		border-radius: 0px;
	}

	.header_area .navbar .search {
		margin-left: 0px;
	}

	.header_area .navbar .nav .nav-item .nav-link {
		display: none;
	}

	.header_area .navbar-collapse {
		/* max-height: 34rem;
		overflow-y: scroll; */
	}

	header .lang-res {
		max-width: max-content;
		margin-left: auto;
	}

	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 1.5rem;
	}

	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}

	.home_banner_area .banner_inner .banner_content .banner_map_img {
		display: none;
	}

	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 4rem;
	}

	.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 4rem;
	}

	.header_area.white_menu .navbar .nav .nav-item .nav-link {
		color: #2B2B2B;
	}

	/* End Main Menu Area css */
	/* Blog page Area css */
	.categories_post img {
		width: 100%;
	}

	.categories_post {
		max-width: 36rem;
		margin: 0 auto;
	}

	.blog_categorie_area .col-lg-4 {
		margin-top: 3rem;
	}

	.blog_area {
		padding-bottom: 8rem;
	}

	.single-post-area .blog_right_sidebar {
		margin-top: 3rem;
	}

	/* End Blog page Area css */
	/* Contact Page Area css */
	.contact_info {
		margin-bottom: 5rem;
	}

	/* End Contact page Area css*/
	.home_banner_area .donation_inner {
		margin-bottom: -3rem;
	}

	.home_banner_area .dontation_item {
		max-width: 35rem;
		margin: auto;
	}

	.home_banner_area .banner_inner .home_left_img {
		display: none;
	}

	.header_area .navbar .tickets_btn {
		display: none;
	}

	.home_banner_area .banner_inner {
		padding: 7rem 0rem 10rem 0rem;
	}

	.left_side_text {
		margin-bottom: 5rem;
	}

	.price_item {
		max-width: 36rem;
		margin: 0rem auto 3rem;
	}

	.price_inner {
		margin-bottom: -3rem;
	}

	header .header-space {
		justify-content: unset !important;
		gap: 0 15px;
	}

	.dropdown-menu.show {
		position: absolute;
	}

	header nav .header-btn {
		margin-right: 0 !important;
		font-size: 12px;

	}

	header .nav-item .nav-link {
		padding: 0 !important;
	}

	.header_area .navbar-brand {
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.main-panel .footer-icon a i {
		padding: 18px 10px;
	}
}

@media (max-width: 767px) {
	.home_banner_area {
		min-height: 50rem;
	}

	.home_banner_area .banner_inner {
		min-height: 50rem;
	}

	.home_banner_area .banner_inner .banner_content {
		margin-top: 0rem;
	}

	/* Blog Page Area css*/
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 4rem;
		line-height: 5rem;
	}

	.blog_info.text-right {
		text-align: left !important;
		margin-bottom: 1rem;
	}

	/* End Blog Page Area css*/
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 3rem;
	}

	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}

	.home_banner_area .banner_inner .banner_content h3 span {
		line-height: 4.5rem;
		padding-bottom: 0rem;
		padding-top: 0rem;
	}

	.made_life_inner .nav.nav-tabs li {
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 1.5rem;
	}

	.made_life_inner .nav.nav-tabs {
		margin-bottom: -1.5rem;
	}

	.made_life_area.made_white .left_side_text {
		margin-bottom: 0rem;
		margin-top: 3rem;
	}
}

@media (max-width: 575px) {
	.top_menu {
		display: none;
	}

	/* Home Banner Area css */
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 2.8rem;
		line-height: 3.8rem;
	}

	.home_banner_area {
		min-height: 45rem;
	}

	.home_banner_area .banner_inner {
		min-height: 45rem;
	}

	.blog_banner .banner_inner .blog_b_text {
		margin-top: 0rem;
	}

	.home_banner_area .banner_inner .banner_content img {
		display: none;
	}

	.home_banner_area .banner_inner .banner_content h5 {
		margin-top: 0rem;
	}

	/* End Home Banner Area css*/
	.p_120 {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	.main_title h2 {
		font-size: 2.5rem;
	}

	/* Elements Area css */
	.sample-text-area {
		padding: 7rem 0 7rem 0;
	}

	.generic-blockquote {
		padding: 3rem 1.5rem 3rem 3rem;
	}

	/* End Elements Area css*/
	/* Blog Page Area css */
	.blog_details h2 {
		font-size: 2rem;
		line-height: 3rem;
	}

	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 2.8rem;
		line-height: 3.8rem;
	}

	/* End Blog Page Area css */

	.pad_top {
		padding-top: 7rem;
	}

	.pad_btm {
		padding-bottom: 7rem;
	}

	.main-panel .footer-icon {
		text-align: center;
	}

	.main-panel .footer-menu {
		text-align: center;
	}
}

@media (max-width: 480px) {

	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar-collapse {
		max-height: 25rem;
	}

	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content {
		padding: 3rem 1.5rem;
		margin-top: 0px;
	}

	.banner_content .white_btn {
		display: block;
	}

	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 2.4rem;
	}

	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 3.2rem;
	}

	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 1rem;
	}

	/* End Blog Page Area css
	============================================================================================ */
	.testi_item .media .d-flex {
		padding-right: 0rem;
	}

	.testi_item .media .d-flex img {
		width: auto;
		margin-bottom: 1.5rem;
	}

	.testi_item .media {
		display: block;
	}

	.banner_btn {
		margin-bottom: 2rem;
	}
}

/* banner section start
============================================================================================ */
.hero-banner {
	/* padding-top: 6.7rem; */
}


.hero-banner h1 {
	color: #2B2B2B;
	font-size: 30px;
	font-weight: 700;
	padding: 0;
	position: relative;
	max-width: max-content;
	padding-bottom: 10px;
	margin: 0 auto 3rem;
}

.hero-banner .search-input input {
	position: relative;
	height: 55px;
	border-radius: 25px;
	padding-right: 35px !important;
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
}

.hero-banner .search-input i {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	color: #fcb23e;
	font-size: 20px;
	z-index: 11
}

.hero-banner .banner-form-btn {
	width: 50%;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.hero-banner h1 {
		font-size: 2.8rem;
	}
}

@media (max-width: 991px) {
	.hero-banner h1 {
		font-size: 2.8rem;
	}
}

.hero-banner-sm {
	background: url(../img/banner/banner.png) left center no-repeat;
	background-size: cover;
	padding-top: 14rem;
	padding-bottom: 9rem;
}

@media (min-width: 992px) {
	.hero-banner-sm {
		padding-top: 24rem;
		padding-bottom: 14rem;
	}
}

.hero-banner-sm h1 {
	text-transform: uppercase;
	color: #6059f6;
}

@media (max-width: 991px) {
	.hero-banner-sm h1 {
		font-size: 3.8rem;
	}
}

@media (max-width: 768px) {
	.hero-banner-sm h1 {
		font-size: 2.8rem;
	}
}

.hero-banner-sm p {
	margin-bottom: 0;
}

.hero-banner-sm-content {
	max-width: 40rem;
}

.bg-shape {
	position: relative;
}

@media (max-width: 620px) {
	.bg-shape::before {
		display: none;
	}
}

@media (max-width: 620px) {
	.bg-shape::after {
		display: none;
	}
}

/* banner section end
============================================================================================ */
/* breadcrumb section start
============================================================================================ */
.banner-breadcrumb {
	display: inline-block;
}

.banner-breadcrumb .breadcrumb {
	background: transparent;
	padding: 0;
}

.banner-breadcrumb .breadcrumb-item {
	padding: .1rem;
}

.banner-breadcrumb .breadcrumb-item a {
	text-transform: capitalize;
	color: #fff;
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	color: #fff;
	padding-left: .2rem;
	padding-right: .4rem;
}

.banner-breadcrumb .breadcrumb-item.active {
	color: #fff;
}

/*=================== custom button rule start ====================*/
.button {
	display: inline-block;
	background-color: #1dbf73;
	color: #fff;
	/*border-radius: 30px;*/
	padding: .8rem 2.5rem;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border-radius: 3px;
}


.button:hover {
	background-color: #1dbf73;
	color: #fff;
}

.button-hero {
	font-weight: 500;
}

.button-contactForm {
	border-radius: .5rem;
}

.button-shadow {
	box-shadow: 0rem 1rem 2rem 0rem rgba(181, 176, 255, 0.2);
}

button.button {
	border: 0;
}

/*********************** Image Hover CSS *****************/
.content {
	margin: 0 auto;
	max-width: 100rem;
}

.content>h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 700;
	font-size: 1.5em;
}

.content>h2:first-child {
	padding-top: 0em;
}

/* Header */
.codrops-header {
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 700;
	font-size: 4em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	color: #74777b;
	font-weight: 300;
	font-size: 45%;
}

/* Demo links */
/* To Navigation Style */
/* Related demos */
@media screen and (max-width: 25em) {
	.codrops-header {
		font-size: 75%;
	}

	.codrops-icon span {
		display: none;
	}
}

.grid {
	position: relative;
	clear: both;
	/* margin: 0 auto; */
	/* padding: 1em 0 4em; */
	max-width: 100rem;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	height: auto;
	text-align: center;
	cursor: pointer;
	border-radius: .3rem;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 700;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	font-size: 20px;
	font-weight: 700;
}

.position-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.section-intro {
	max-width: 64rem;
	margin-right: auto;
	margin-left: auto;
}

.section-intro.text-center.pb-90px h2 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 3rem;
}

.section-padding {
	padding: 30px 0;
}

/*---------------*/
/***** Ming *****/
/*---------------*/
figure.effect-ming {
	background: #030c17;
	position: relative;
	box-shadow: rgb(0 0 0) -5px 20px 20px -20px;
	transition: .4s ease-in-out;
}

figure.effect-ming::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	transition: all .4s ease-in-out;
}

figure.effect-ming:hover::after {
	opacity: 1;
	top: 0;
	left: 0;
	border-top: 150px solid rgba(0, 0, 0, .5);
	border-left: 150px solid rgba(0, 0, 0, .5);
	border-bottom: 150px solid rgba(0, 0, 0, .5);
	border-right: 150px solid rgba(0, 0, 0, .5)
}

figure.effect-ming:hover {
	transform: scale(1.1);
	box-shadow: unset;
}

figure.effect-ming img {
	opacity: 0.8;
	transition: all .3s ease-in-out;
	transform: translate3d(0, 0, 0) scale(1, 1);
}


figure.effect-ming p a {
	color: #fff;
}

figure.effect-ming p a:hover {
	color: #1dbf73;
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	display: none;
}


figure.effect-ming figcaption {
	background-color: rgba(0, 0, 0, 0.5);
}

figure.effect-ming figcaption {
	background-color: rgb(0 0 0 / 0%);
	display: flex;
	align-items: center;
	justify-content: center;
}

figure.effect-ming figcaption p {
	transform: scale3d(.9, .9, 1);
	transition: all .5s ease-in-out;
	z-index: 2;
	font-size: 23px;
}

figure.effect-ming:hover figcaption p {
	transform: scale3d(1, 1, 1);
	transition: all .5s ease-in-out;
}

figure.effect-ming:hover img {
	opacity: .6;
	transform: translate3d(-20px, 0, 0) scale(1.1, 1.1);
}

/************************ Form HTML ********************/
.main_formbg {
	background: #ffffffb8;
	border-radius: 25px;
	width: 70%;
	box-shadow: 0rem 0.5rem 2rem rgb(0 0 0 / 16%);
	margin: 12.5rem auto 0;
	padding: 20px 40px;
}

div.elem-group {
	margin: 1rem 0;
	font-size: 1.4rem;
}

div.elem-group.inlined {
	width: 49%;
	display: inline-block;
	float: left;
	margin-left: 1%;
}

.selectbg {
	width: 49%;
	display: inline-block;
	float: left;
	margin-left: 1%;
}

.selectbg label {
	margin: 0rem 0 .4rem 0 !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: #2B2B2B;
}

.elem-group.inlined label {
	margin: 0 0 .5rem 0 !important;
	font-size: 1.4rem;
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	color: #2B2B2B;
}

.elem-group label {
	margin: 0 0 .5rem 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #2B2B2B;
}

input,
select,
textarea {
	border: 1px solid #ddd;
	box-sizing: border-box;
	font-size: 1.3rem;
	padding: 1rem 1rem 1rem 1rem;
}

.selectdrop {
	background: #eee;
	padding: 15px 0 15px 15px;
	border-radius: 3px;
	margin: 15px 0 15px 0;
}

input.checkinout {
	padding: 12px !important;
	height: 40px;
}

input:focus,
select:focus,
textarea:focus {
	outline: 1px solid #fcb23e;
}

div.elem-group.inlined input {
	width: 100%;
	display: inline-block;
}

.booking button {
	background: #1dbf73;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	margin-top: 3rem;
	padding: 1rem;
	width: 100%;
	border-radius: .3rem;
	text-transform: uppercase;
	font-weight: 700;
}

.booking button:hover {
	background: #1dbf73;
}

/******************** Reccommended *******************/
.imagebg {
	overflow: hidden;
	margin-bottom: 2rem;
}

.imagebg ul {
	margin: 0;
	padding: 0;
}

ul.bottom_text li {
	font-size: 1.4rem;
	list-style: none;
	display: inline;
	color: #2B2B2B;
	padding: 0 1rem 0 0;
}

.search_amini {
	background: #dadada;
	padding-left: 20px;
	padding-right: 20px;
}

.imagebg ul li {
	list-style: none;
	display: inline;
}

.imagebg ul li span {
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #2B2B2B;
	font-weight: 700;
}

.imagebg ul li span div.price {
	font-size: 1.3rem;
	color: #777;
	font-weight: 700;
}

.imagebg img {
	width: 100%;
}

.imagebg2 {
	background-color: #000;
	margin-bottom: .5rem;
}

.imagebg2 img {
	transition: 300ms;
}

.imagebg2:hover img {
	opacity: 0.4;
}

.buttonbg button {
	background: #1dbf73;
	border: none;
	color: #fff;
	padding: .4rem 1rem .4rem 1rem;
	margin-top: .7rem;
	float: left;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
}

.buttonbg button:hover {
	background: #1dbf73;
}

.recommandedbg {
	background: #dddddd52;
}

.pint_table {
	overflow: hidden;
	width: 100%;
	margin-top: .5rem;
}

.left_point {
	float: left;
	width: 48%;
}

.right_point {
	float: right;
	width: 48%;
}

.right_point h2 {
	font-size: 1.9rem;
	text-align: right;
	margin-top: .3rem;
}

.right_point h2 strong {
	color: #1dbf73;
}

.right_point h2 span {
	font-size: 1.5rem;
}

.left_point ul li {
	list-style: none;
	display: inline;
	font-size: 1.3rem;
}

.left_point ul li i:hover {
	color: #1dbf73;
}

/*---------------*/
/***** Milo *****/
/*---------------*/
figure.effect-milo {
	background: #2e5d5a;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 6rem);
	width: calc(100% + 6rem);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-3rem, 0, 0) scale(1.12);
	transform: translate3d(-3rem, 0, 0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}

figure.effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

figure.effect-milo p {
	padding: 0 1rem 0 0;
	width: 50%;
	border-right: 1rem solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-4rem, 0, 0);
	transform: translate3d(-4rem, 0, 0);
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.full_title {
	float: left;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.price {
	padding: 0 0 0 .1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: .5rem;
}

.full_title h2 {
	font-size: 1.8rem;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.bottom_text {
	background: #dadada;
	overflow: hidden;
	width: 100%;
	padding: .3rem 0 .3rem 1.2rem;
	border-radius: .3rem;
}

.profile-img img {
	border-radius: 50%;
	width: 100%;
}

/*************************** Testimonial CSS **********************************/
.testimonials {
	padding-bottom: 2.2em;
	text-align: center;
	color: #666;
}

.testimonials h1 {
	color: #2B2B2B;
	font-size: 1.3em;
}

.testimonials .test-body {
	padding: 1em;
}

.testimonials .item {
	background: #fff;
	padding: 5rem 3rem 5rem 3rem;
	border-radius: .4rem;
	box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.11);
	margin-bottom: 1.5rem;
}

.testimonials img {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

.testimonials .name {
	color: #2B2B2B;
	font-size: 1.8rem;
	text-transform: capitalize;
	font-weight: 700;
	padding: 1.8rem 0 0 0;
}

.testimonials .desig {
	font-size: 1.6rem;
	margin: 0 0 3.9rem 0;
	font-weight: 500;
	color: #2B2B2B;
}

.testimonials .share {
	margin: 0 auto;
	width: 5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.testimonials i {
	padding: 0.5em 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}

.testimonials h2 {
	margin-bottom: 30px;
}

.testimonials i:hover {
	color: #777;
}

.testimonialbg {
	margin: -.5rem 0 -.5rem 0;
	background: url(../img/testimonial_bg.png) fixed center center;
	background-size: cover;
}

.item ul {
	margin: 0;
	padding: 0;
}

.item ul li {
	list-style: none;
	display: inline;
}

/*=================== custom button rule end ====================*/
.main-panel {
	position: relative;
	display: -ms-flexbox;
	-ms-flex-direction: column;
	word-wrap: break-word;
}

.m-l-b-fff {
	background: #fff;
}

.m-l-b-p {
	padding: 15px 0 15px 0;
}

.m-l-b-m {
	margin: 15px;
}

.card-default {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.card-2 {
	background: #28a745;
	color: #fff;
	width: 90px;
	height: 90px;
	margin-bottom: 10px;
}

.card-1:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-raised {
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12) !important;
}

.card-shadow {
	box-shadow: 0 0 5px 1px #eaeaea;
	border: none;
}

.view-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
}

.thumbnail {
	margin-bottom: 30px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 1rem;
	border: 0;
}

.item.list-group-item .img-event {
	float: left;
	width: 30%;
}

.item.list-group-item .list-group-image {
	margin-right: 10px;
}

.item.list-group-item .thumbnail {
	margin-bottom: 0px;
	display: inline-block;
	width: 100%;
}

.item.list-group-item .caption {
	float: left;
	width: 70%;
	margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item:after {
	clear: both;
}

.avatar {
	vertical-align: middle;
	width: 13rem;
	height: 13rem;
	border-radius: 50%;
}

.head_avatar {
	vertical-align: middle;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	padding: .7rem;
	margin-top: .6rem;
}

ul.tophd li {
	list-style: none;
	display: inline;
	float: left;
	padding: 0 16px 0px 0;
}

.sidebar {
	top: 0;
	bottom: 0;
	position: absolute;

}

/**************** Icon Css ***************************/
.i-vertical-align {
	vertical-align: middle;
}

/**************** End Icon Css ***************************/

.main-section {
	margin-left: 250px !important;
	width: 100%;
}

@media (max-width: 767px) {
	.sidebar {
		width: 0px;
	}

	.main-section {
		margin-left: 0px !important;
	}
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.480rem .81rem;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .31rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	height: 44px;
}


.form-control:focus,
textarea:focus,
select.form-control:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	outline: 1px solid #fcb23e;
	border: 1px solid #fcb23e;
	box-shadow: 0px 0px 5px 0.01rem #fcb23e;
}


.dropdown-toggle::after {
	color: #fcb23e !important;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(2.25rem + 1.7rem);
}

.profilebd {
	padding: 15px 15px 15px 15px;
	margin: 20px 0 30px 0;
}

.main-panelbg {
	background: #eee;
}

.main-panel.border.main-panelbg p {
	margin: 0;
	padding: 10px 15px 10px 15px !important;
}

li.edit-verifications-list-item p {
	font-size: 14px;
}

.error-tag {
	color: #fa3b3b;
	font-size: 14px;
}

label.error {
	color: red !important;
	font-size: 1.3rem;
}

.margin-top-85 {
	margin-top: 8.5rem;
}

.active-nav {
	border-bottom: .3rem solid #1dbf73;
	font-weight: 700;
}


.side-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	border: 1px solid rgba(0, 0, 0, .125);
	background: #c0c0c0c0;
	border-radius: 15px;
	margin-top: 15px;
	text-align: center;
	font-size: 1.6rem;
}


.active-side {
	background: #fcb23e;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	border-radius: 15px;
	border: 0px;
}

.active-side a {
	color: #fff;
	font-weight: 700;
}

.room-image-container200 {
	width: 100%;
	height: 200px;
	background-color: #f5f5f5;
	background-size: cover;
	background-position: center;
	position: relative;
	object-fit: cover;
	box-shadow: 1px 1px 10px rgb(3 174 116 / 25%);
}

.display-off {
	display: none;
}


/*calender*/
.calendar-month {
	width: 100%;
	padding: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none
}


.calendar-month .current-month-selection {
	display: inline-block;
	position: relative;
	cursor: pointer
}

.calendar-month .current-month-selection h2 {
	padding-top: 4px
}

.calendar-month .current-month-selection select {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0)
}

.calendar-month .current-month-selection .current-month-arrow {
	font-size: 24px;
	position: relative;
	top: -3px;
	text-rendering: optimizeLegibility
}

.calendar-month .month-nav {
	color: #565a5c;
	border: 1px solid #ddd;
	width: 46px;
	height: 42px;
	display: inline-block
}

.calendar-month .month-nav.disabled {
	color: #d7d7d7;
	border-color: #e6e6e6;
	cursor: default
}

.calendar-month .month-nav.disabled:hover {
	color: #d7d7d7
}

.calendar-month .month-nav .icon {
	width: 46px;
	height: 42px;
	line-height: 42px
}

.calendar-month .month-nav:hover {
	color: #9ca299;
	text-decoration: none
}

.calendar-month .month-nav-next {
	margin-right: 15px;
	margin-left: -1px;
	padding-top: 10px;
}

.calendar-month .month-nav-previous {
	margin-right: 15px;
	margin-left: -1px;
	padding-top: 10px;
}

.calendar-month .spinner-next-to-month-nav {
	position: absolute;
	top: 18px;
	left: 100%;
	width: 35px;
	margin-left: 13px;
	font-size: 0;
	color: transparent
}

.calendar-month.calendar-placeholder {
	min-height: 456px
}

.host-calendar-container {
	position: relative;
}

/*calender end*/
.col-md-02 {
	position: relative;
	min-height: 1px;
	padding-right: 0;
	padding-left: 0;
	margin-left: -1px;
}

.col-md-02 {
	float: left;
}

.col-md-02 {
	width: 14.333%;
}

.wkText {
	font-size: 1.6rem;
	color: #414141;
	margin-left: 2px;
}

.calender_box {
	border: 1px solid #d4d4d4;
	padding: 2px 5px;
	height: 110px;
	border-bottom: 0;
}

.dTfont {
	position: absolute;
	bottom: 0;
}

.dt-not-available {
	background-color: #dce0e0;
	cursor: not-allowed;
	pointer-events: none;
}

.dt-today .final_day {
	font-weight: bold;
}

.dt-available-with-events {
	background-color: #EEAE9C;
}

.margin-top30 {
	margin-top: 30px;
}

.tile {
	width: 100%;
	background: #fff;
	border-radius: 5px;
	float: left;
	transform-style: preserve-3d;
}

.header {
	border-bottom: 1px solid #ebeff2;
	padding: 19px 0;
	text-align: center;
	color: #59687f;
	font-size: 600;
	font-size: 19px;
	position: relative;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	width: 100%;
	border-radius: 5px;
}

.dates {
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	padding: 10px 0px;
	margin: 0px 15px;
	font-size: 16px;
	color: #5aadef;
	font-weight: 600;
	overflow: auto;
	background: #eeeeee54;
}

.dates div {
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
	font-weight: normal;
	color: #000;
}

.dates strong,
.stats strong {
	display: block;
	color: #28a745;
	font-size: 18px;
	font-weight: 700;
}

.stats {
	border-top: 1px solid #ebeff2;
	background: #f7f8fa;
	overflow: auto;
	padding: 15px 0;
	font-size: 16px;
	color: #59687f;
	font-weight: 600;
	border-radius: 0 0 5px 5px;
}

.stats div {
	border-right: 1px solid #ebeff2;
	width: 33.33333%;
	float: left;
	text-align: center
}

.stats div:nth-of-type(3) {
	border: none;
}

div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn {
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary {
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover {
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger {
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover {
	background-color: #fd7676;
}

.daterangepicker {
	max-width: none;
	z-index: 10000;
	box-shadow: 0 14px 36px 2px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 14px 36px 2px rgba(0, 0, 0, .15);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	min-width: 34px;
	width: 45px !important;
	height: 45px !important;
	line-height: 24px !important;
	font-size: 15px !important;
	border-radius: 4px;
	border: 1px solid transparent;
	white-space: nowrap;
	cursor: pointer;
}

.daterangepicker td.start-date {
	border-radius: 25px !important;
}

.daterangepicker td.end-date {
	border-radius: 25px !important;
}

.daterangepicker td.in-range {
	background-color: #ededed !important;
	border-color: transparent;
	color: #000;
	border-radius: 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: #fcb23e !important;
	border-color: transparent;
	color: #fff;
}

td.off.available {
	visibility: hidden;
}

.daterangepicker .drp-calendar {
	max-width: 350px !important;
}

.daterangepicker .ranges ul {
	margin-top: 15px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
	position: absolute !important;
	top: 8px !important;
	right: 8px;
	display: block !important;
	font-family: 'Font Awesome 5 Free' !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #fcb23e !important;
	color: #fff !important;
	border-color: transparent;
}


@media only screen and (max-width: 992px) {
	.calender_box {
		height: 80px;
	}
}

@media only screen and (max-width: 767px) {}


@media only screen and (max-width: 480px) {}

.calenBox {
	margin-top: 30px;
}

@media only screen and (max-width: 479px) {
	.calenBox {
		width: 100%;
		height: 300px;
		overflow: scroll;
		overflow-x: scroll;
	}

	.dTfont {
		position: absolute;
	}
}

@media only screen and (max-width: 414px) {
	.vrent-button.pl-4.pr-4 {
		margin: 0px !important;
	}

	.pick-btn {
		width: 100% !important;
	}

	ul.tophd li {
		padding: 0 !important;
	}
}

@media only screen and (max-width: 375px) {

	select.form-control:not([size]):not([multiple]) {
		height: calc(2.25rem + 2rem) !important;
	}

	.vrent-button.pl-4.pr-4 {
		margin: 0px !important;
		padding: 7px 5px 10px 5px !important;
	}


	.pick-btn {
		width: 100% !important;
	}

	ul.tophd li {
		padding: 0 !important;
	}

}

@media only screen and (max-width: 360px) {
	.wkText {
		font-size: 12px;
		color: #414141;
		margin-left: 2px;
	}

}

.StripeElement {
	width: 100% !important;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

@media only screen and (max-width: 320px) {



	select.form-control:not([size]):not([multiple]) {
		height: calc(2.25rem + 2rem) !important;
	}

	.vrent-button.pl-4.pr-4 {
		margin: 0px !important;
		padding: 7px 5px 10px 5px !important;
	}

	.pick-btn {
		width: 100% !important;
	}

	ul.tophd li {
		padding: 0 !important;
	}

}

@media (max-width: 767px) {

	.col,
	.col-1,
	.col-10,
	.col-11,
	.col-12,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-auto,
	.col-lg,
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-auto,
	.col-md,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-auto,
	.col-sm,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-auto,
	.col-xl,
	.col-xl-1,
	.col-xl-10,
	.col-xl-11,
	.col-xl-12,
	.col-xl-2,
	.col-xl-3,
	.col-xl-4,
	.col-xl-5,
	.col-xl-6,
	.col-xl-7,
	.col-xl-8,
	.col-xl-9,
	.col-xl-auto {
		position: relative;
		padding-right: 0px;
		padding-left: 0px;
	}
}

.price-pro {
	background: #018055;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	top: -20px;
	position: absolute;
	font-size: -31px;
	left: 5px;
	color: #fff;
}

.modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

.modal-content {
	border-radius: 1.3rem;
}

input[type=checkbox] {
	display: inline-block !important;
	height: 24px !important;
	width: 24px !important;
	text-align: center !important;
	vertical-align: top !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: rgb(176, 176, 176) !important;
	background: rgb(255, 255, 255) !important;
	overflow: hidden !important;
	border-radius: 4px !important;
	margin-right: 5px;
}

.ml-25 {
	margin-left: 25px !important;
}


.hidden-pod {
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

[data-toggle="collapse"] .fa:before {
	content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
	content: "\f13a";
}

[data-toggle="collapse"] .review-arrow:before {
	content: "\f107";
}

[data-toggle="collapse"].collapsed .review-arrow:before {
	content: "\f105";
}



/******* Padding Section *************/


/* List Grid view */
.inactive-list {
	color: #a2a2a2;
}

.list-bacground {
	background: #efefef;
}

.badge-pill {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	padding: 10px 9px;
	min-width: 45px;
	position: relative;
	overflow: hidden;
	background: #ffb400;
	background: -webkit-linear-gradient(310deg, #ffc333 55%, #ffb400 55%, #ffb400 100%);
	background: -moz-linear-gradient(310deg, #ffc333 55%, #ffb400 55%, #ffb400 100%);
	background: -o-linear-gradient(310deg, #ffc333 55%, #ffb400 55%, #ffb400 100%);
	background: linear-gradient(140deg, #ffc333 55%, #ffb400 55%, #ffb400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc333', endColorstr='#ffffb400', GradientType=0);
}

.icon-beach {
	color: #1dbf73;
}

.rating_active {
	color: #fcb23e;
}

.rating {
	color: #2B2B2B;
}

/*star rating*/
.stars {
	min-height: 10px;
	width: 125px;
}

.star-rating-alt {
	background: url("../img/alt_star.png") repeat-x scroll left top rgba(0, 0, 0, 0);
	height: 25px;
	list-style: outside none none;
	padding: 0;
	position: relative;
	width: 125px;
}

.star-rating-alt li.current-rating {
	background: url("../img/alt_star.png") repeat scroll left center rgba(0, 0, 0, 0);
	display: block;
	height: 25px;
	position: absolute;
	text-indent: -9000px;
	z-index: 1;
}

@media screen and (min-width: 992px) {
	.custom_class_booking_type {
		text-align: center;
	}
}

.ex-image-container {
	width: 100%;
	height: 500px;
	background-color: #f5f5f5;
	background-size: cover;
	background-position: center;
	position: relative;
}

.slider-image-container {
	width: 100%;
	height: 500px;
	background-color: #f5f5f5;
	background-size: cover;
	background-position: center;
	position: relative;
}

/*add*/
.blue-color {
	color: #367ea6;
}

.tip {
	width: 0px;
	height: 0px;
	position: absolute;
	background: transparent;
	border: 10px solid #ccc;
}

.tip-left {
	top: 10px;
	left: -21px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.tip-right {
	top: 10px;
	right: -21px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.dialogbox .body {
	position: relative;
	height: auto;
	margin: 0 0 15px 0;
	padding: 5px 10px;
	background-color: #f4f4f4;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.body .message {
	min-height: 30px;
	border-radius: 3px;
	font-family: Arial;
	font-size: 14px;
	line-height: 1.5;
	color: #797979;
}

.media-photo-badgeSMS {
	border-radius: 50% !important;
	height: 90px !important;
	width: 90px !important;
}

.profile_photo img {
	border-radius: 50% !important;
	width: 120px;
	height: 120px;
}

@media only screen and (max-width: 479px) {
	.media-photo-badgeSMS {
		border-radius: 50% !important;
		height: 70px !important;
		width: 70px !important;
		margin-top: 20px;
	}
}

.media-photo-badge img {
	width: 80px;
	height: 80px;
	border-radius: 50% !important;
}



#booking-banner.stick {
	margin-top: 70px !important;
	position: fixed !important;
	width: 25%;
	top: 0;
	z-index: 10;
	border-radius: 0 0 0.5em 0.5em;
}

#booking-price.stick {
	position: fixed !important;
	width: 22.5%;
	top: 85px;
	right: 5%;
	z-index: 10;
	border: 1px solid rgba(0, 0, 0, .125);
	padding: 15px;
}




.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #fcb23e;
	border-color: #fcb23e;
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}


.page-link {
	position: relative;
	display: block;
	margin: 6px;
	color: #1dbf73;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.page-link:hover {
	z-index: 3;
	color: #fff !important;
	background-color: #1dbf73;
	border-color: #1dbf73;

	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #fcb23e !important;
	color: #fff !important;
	background-color: #fcb23e !important;
	border: 1px solid #dee2e6 !important;
}

.paginate_button.previous.disabled:hover {
	background: #fff !important;
}

.paginate_button.next.disabled:hover {
	background: #fff !important;
}



.dataTables_wrapper .dataTables_paginate .paginate_button {
	display: inline-block;

	padding: 0.3rem 1em !important;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	cursor: hand;

	color: #fcb23e !important;
	border: 1px solid #dee2e6 !important;
	margin: .5rem;
}

.current {
	background: #fcb23e !important;
	color: #fff !important;
}

.dataTables_wrapper {
	margin-top: 2.2rem !important;
}

.dataTables_paginate paging_simple_numbers {
	padding: 1.5rem;
}

/*********************** Page Not Found Css *******************************/
#notfound {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 999;
}

.notfound {
	width: 100%;
	line-height: 1.4;
	text-align: center;
}

#notfound .notfound {
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound .notfound-404 {
	position: relative;
	height: 240px;
}

.notfound .notfound-404 h3 {
	font-family: 'Cabin', sans-serif;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin: 0px;
	letter-spacing: 3px;
	padding-left: 6px;
}

.notfound .notfound-404 h1 {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 170px;
	font-weight: 900;
	margin: 0px;
	color: #1dbf73;
	text-transform: uppercase;
	margin-left: 0;
}

.notfound .notfound-404 h1>span {
	text-shadow: -8px 0px 0px #000;
}

.notfound h2 {
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	margin-top: 0px;
	margin-bottom: 25px;
}




.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

/* Left & Right */

.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 250px;
	max-width: 100%;
	height: 100%;
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px 15px 80px;
	max-height: calc(100vh);
}

.modal.left.fade .modal-dialog {
	left: -500px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
	left: 0;
}

.modal.right.fade .modal-dialog {
	right: -500px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
	border-radius: 0;
	border: none;
}

.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
	width: 300px;
}

/* Footer */

.modal-footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-radius: 0;
}

.mobile-side a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
	color: #484848;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, .1);
	transition: .4s;
}

.mobile-side a i {
	margin-right: 16px
}

.drop-width {
	width: 150px;
}


.ranges-time li {
	font-size: 13px !important;
	border: 1px solid #fff !important;
	color: #222325 !important;
	padding: 3px 12px !important;
	margin-bottom: 8px !important;
	cursor: pointer !important;
}


.ranges li {
	font-size: 13px !important;
	border: 1px solid #fff !important;
	color: #222325 !important;
	padding: 3px 12px !important;
	margin-bottom: 8px !important;
	cursor: pointer !important;
}

.ranges-time li:hover {
	background: #fcb23e !important;
	color: #fff !important;
}

.ranges li:hover {
	background: #fcb23e !important;
	color: #fff !important;
}

.ranges li.active {
	background: #fcb23e !important;
	border: 1px solid #fcb23e !important;
	color: #fff !important;
}

.ranges-time li.active {
	background: #fcb23e !important;
	border: 1px solid #fcb23e !important;
	color: #fff !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: #357ebd;
	border-color: transparent;
	color: #fff;
}

.nav-item>.active {
	color: #fcb23e;
	font-weight: 700;
}

.footer-bg {
	background: #F7F7F7 !important;
}



/* Inbox */

.container-inbox {
	display: flex;
	height: calc(100vh - 17rem);

}

.right-inbox {
	height: calc(100vh - 17rem);
}

sidebar {
	width: 33%;
	min-width: 33%;
	display: flex;
	background: #fff;
	flex-direction: column;
	transition: 500ms all;
	max-height: 100vh;
	z-index: 100;
}

sidebar .logo {
	display: flex;
	margin: 10px 0 0 0;
	padding-bottom: 10px;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 3em;
	letter-spacing: 7px;
	border-bottom: 1px solid #ccc;
}

sidebar .list-wrap {
	width: 100%;
	overflow: auto;
	border: 1px solid #ddd;
	border-radius: 15px;
}

sidebar .list-wrap .list {
	border-bottom: 1px dashed #ddd;
	background: #fff;
	display: flex;
	padding: 5px;
	cursor: pointer;
}
sidebar .list-wrap .list:last-child{
	border-bottom: unset;
}
sidebar .list-wrap .list:hover,
sidebar .list-wrap .list.active {
	background: #f4f7f9;
}

sidebar .list-wrap .list img {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	margin-right: 1rem;
	box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, 0.5);
	
}

sidebar .list-wrap .list .info {
	flex: 1;
}

sidebar .list-wrap .list .count {
	font-size: 0.75em;
	background: #bde2f7;
	box-shadow: 0 .5rem 1.5rem -.5rem rgba(0, 0, 0, 0.7);
	padding: .3rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	text-align: center;
	color: #000;
}

.content-inbox {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	border-radius: 15px;
}

.content-inbox header {
	height: 7rem;
    background: #fff;
    display: flex;
    padding: 1rem;
    border-top: 1px solid #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
}

.content-inbox header img {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	margin-right: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.content-inbox header .info {
	flex: 1;
}

.content-inbox header .info .user {
	font-weight: 700;
}

.content-inbox header .info .time {
	display: flex;
	margin-top: 3px;
	font-size: 0.85em;
}

.content-inbox header .open {
	display: none;
}

.content-inbox header .open a {
	color: #000;
	letter-spacing: 3px;
}

.message-wrap {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 15px;
	overflow: auto;
	height: calc(100vh - 30rem);
}

.message-wrap::before {
	content: "";
	margin-bottom: auto;
}

.message-wrap .message-list {
	align-self: flex-start;
	max-width: 70%;
}

.message-wrap .message-list.me {
	align-self: flex-end;
}

.message-wrap .message-list.me .msg {
	background: #bde2f7;
	color: #111;
}

.message-wrap .message-list .msg {
	background: #dee2e6;
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
	padding: 10px 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.message-wrap .message-list .time {
	text-align: right;
	color: #999;
	font-size: 0.75em;
}

.message-footer {
	border-top: 1px solid #ddd;
    background: #eee;
    padding: 10px;
    display: flex;
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;	
}

.message-footer input {
	flex: 1;
	padding: 0 20px;
	border-radius: 5px;
}

.container-fluid-90 {
	width: 90% !important;
}

@media only screen and (max-width: 480px),
only screen and (max-width: 767px) {
	sidebar {
		position: fixed;
		width: 100%;
		min-width: 100%;
		height: 0vh;
		bottom: 0;
		box-shadow: 0 5px 25px -5px black;
		bottom: 0;
		left: 0;
		border-top-left-radius: 15px;
	    border-top-right-radius: 15px;
	}

	sidebar.opened {
		height: calc(100vh - 30.49rem) !important;
	}

	sidebar .logo {
		display: none;
	}

	sidebar .list-wrap .list .count {
		font-size: 0.75em;
	}

	header .open {
		display: block !important;
	}

	.container-fluid-90 {
		width: 100% !important;
	}
}

.modal-lg {
	max-width: 1000px;
}


.modal-dialog-centered {
	min-height: calc(100vh - 11.5rem);
}

.modal-body {
	max-height: calc(100vh - 12.5rem);
	overflow-y: auto;
}


.modal-body-filter {
	max-height: calc(100vh - 20.5rem) !important;
	overflow-y: auto;
}

.drop-down-menu-left {
	left: -40px;
}


.vtooltip {
	position: relative;
	display: inline-block;
}

.vtooltip .vtooltiptext {
	visibility: hidden;
	width: 110px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 2px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	margin-left: -60px;
}

.vtooltip .vtooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.vtooltip:hover .vtooltiptext {
	visibility: visible;
}

.map-view-location {
	width: 100%;
	height: 250px;
}

.map-close {
	background: #FFF;
	border: 0px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	user-select: none;
	border-radius: 8px;
	height: 45PX;
	width: 45px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	top: 10px;
	left: 15px;
	color: #2B2B2B;
	z-index: 100;
}

.price-btn {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.show-map {
	background: #FFF;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	user-select: none;
	border-radius: 8px;
	/* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; */
	box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
	color: #2B2B2B;
	z-index: 100;
	margin-right: 30px;
}
.show-map a{
	border-radius: 6px !important;
	padding: 3px 15px;
	border-width: 2px !important;
}
.dropdown-menu-location {
	width: 45rem !important;
	border-radius: 15px !important;
	top: 5px !important;
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12) !important;
}

.dropdown-menu-room-type {
	width: 25rem !important;
	border-radius: 15px !important;
	top: 5px !important;
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12) !important;
}

.dropdown-menu-price {

	border-radius: 15px !important;
	top: 5px !important;
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12) !important;
}

.opacity-1 {
	opacity: 1 !important;
}

.pick_date-width {
	width: 230px;
	padding: 0 10px 0 15px;
}

.modal-z-index {
	z-index: 100000000 !important;
}

@media only screen and (max-width: 900px) {
	#booking-banner.stick {
		width: 32% !important;
	}

	#booking-price.stick {
		width: 32% !important;
	}

	.dropdown-menu-location {
		width: 30rem !important;
	}

	.ex-image-container,
	.slider-image-container {
		height: 250px;
	}
}

/**************************** Dashboard Css *********************************/

.widget ul {
	margin: 0px;
	padding: 0;
	overflow: hidden;
}

.widget ul li {
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	padding-bottom: 10px;
}

.sidebar-thumb {
	float: left;
	overflow: hidden;
	margin-right: 15px;
}

.sidebar-thumb img {
	background: #fff;
	border: 1px dashed #e0e0e0;
	padding: 6px;
	height: 75px;
	width: 75px;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.sidebar-content h5 {
	font-size: 16px;
	cursor: pointer;
	line-height: 18px;
}

.sidebar-content h5 a:hover {
	color: #2996bd;
}

.sidebar-content h5 a {
	color: #202020;
	outline: 0 none;
	text-decoration: none;
	font-weight: bold
}

.sidebar-meta span {
	color: #2e2e2e;
}

.sidebar-meta span.time {
	margin-right: 10px;
}

/**************************** End Dashboard Css *********************************/

.review-0 ul li {
	list-style: none;
	display: inline;
	width: 50%;
}

a.send-btn {
	z-index: 11;
	position: relative;
	float: right;
	margin: 0px 0 0 -50px;
	width: 50px;
	border-radius: 0 4px 4px 0;
}

.single-load {
	min-height: 200px;
	width: 100%;
	text-align: center;
	opacity: 0.9;
	padding-top: 110px;
}

.loader-img {
	min-height: 200px;
	width: 100%;
	text-align: center;
	opacity: 0.9;
	padding-top: 70px;
}


.not-found {
	width: 100px;
}

.light-box-img {
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.light-box-view {
	text-align: center;
	padding-top: 40px;
	margin-top: 0px;
	color: white;
	height: 130px;
	width: 100%;
	background-color: #8E8F90;
	cursor: pointer;
}

.single-map-w {
	width: 100%;
	height: 400px;
}

.map-view {
	width: 100%;
	height: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.map-property-img {
	height: 150px;
	width: 250px;
	object-fit: cover;
}

.media-cover {
	width: 250px;
}

.map-property-name {
	max-height: 150px;
	max-width: 250px;
}

.dataTables_paginate {
	margin-top: 25px !important;
}

.js-calendar-sync:hover {
	color: #fff !important;
}

.shareButton {
	background-color: #476bb8;
	color: white;
	padding: 3px 10px;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	border-radius: 4px;
	margin-bottom: 5px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.shareButton:hover {
	background-color: #3b5998;
	color: white !important;
}

.view-all {
	background-color: rgb(24, 23, 23);
	color: #fff;
	font-weight: 700;
}

.view-all img {
	opacity: 0.5;
}

.h-110px {
	height: 110px;
	object-fit: cover;
}

.gal-img {
	width: 200px;
}

.price-table-scroll {
	max-height: 500px;
}

/* Media query */
@media(min-height:0px) and (max-height:480px) {
	.min-height {
		min-height: 480px;
	}
}

@media(min-height:481px) and (max-height:720px) {
	.min-height {
		min-height: 600px;
	}
}

@media(min-height:721px) and (max-height:850px) {
	.min-height {
		min-height: 790px;
	}
}

@media(min-height:851px) and (max-height:1440px) {
	.min-height {
		min-height: 927px;
	}
}

@media (max-width: 1200px) {
	#booking-price.stick {
		width: 30.5%;
	}
}



/* Animation */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@media (print),
(prefers-reduced-motion: reduce) {
	.animated {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}


.swal-footer {
	text-align: center;
}




progress {
	border: none;
	height: 5px;
	width: 100px;
	margin-bottom: 3px;
	background: rgb(196, 194, 194);
}

progress {
	color: rgb(180, 180, 184);
}

progress::-webkit-progress-value {
	background: #222222;
}

progress::-moz-progress-bar {
	background: rgb(180, 180, 184);
}

progress::-webkit-progress-value {
	background: #222222;
}

progress::-webkit-progress-bar {
	background: rgb(180, 180, 184);
}


@media screen and (max-width: 1100px) and (min-width: 992px) {
	progress {
		width: 55px;
	}
}


@media screen and (max-width: 1150px) and (min-width: 1100px) {
	progress {
		width: 80px;
	}
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #fcb23e !important;
	background: #fcb23e !important;
	font-weight: normal;
	color: #fff;
}

.ui-state-active:hover {
	color: #fff !important;
}

.line-height-2-4 {
	line-height: 2.4;
}

.overflow-hidden-x {
	overflow-x: hidden;
}

@media (max-width: 576px) {
	.gal-img {
		width: 100% !important;
	}

	.h-110px {
		height: auto !important;
	}
}

/* new work */
.dropdown .lang-btn {
	border: 2px solid transparent;
	background-color: transparent;
}

.dropdown .lang-btn span {
	font-size: 13px;
	display: flex;
	align-items: baseline;
}

.dropdown .lang-btn span i {
	padding-left: 5px;
}

/* form work */
.form-main {
	width: 50%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
}

.form-main .form-inner .form-content .title {
	color: #2B2B2B;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 15px;
}

.form-main .form-inner .form-content p {
	color: #2B2B2B;
	font-size: 25px;
	margin-bottom: 15px;
}

header nav .header-btn {
	margin-right: 10px;
	margin-top: 5px;
	padding: 10px 19px;
}

.over-hdn {
	overflow: unset !important;
}

.fav-icon {
	display: flex;
	align-items: center;
}

.fav-icon a {
	color: #2B2B2B;
	font-size: 15px;
	padding-left: 5px;
}

.single-fav-icon a {
	color: #2B2B2B;
	font-size: 22px;
	padding-left: 5px;
}

.payment-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.modal-body .mobile-side .mbl-btn a {
	width: 100%;
	margin-bottom: 10px;
	border: none;
	background: #fcb23e;
	color: #fff !important;
	padding: 10px 0;
	font-size: 13px;
}

.modal-body .mobile-side .mbl-btn a:last-child {
	width: 100%;
	border-radius: 3px;
}

.modal-body .mobile-side .mbl-btn a button:last-child {
	color: #fff !important;
	width: 100%;
	font-size: 13px;
	line-height: 1.4;
	border: none;
}

.btn:focus {
	border: 1px solid #fcb23e !important;
	box-shadow: 0px 0px 1px 0.06rem #fcb23e;
}

/* header */
.dropdown .user-name {
	font-weight: 600;
	padding: 0;
	text-transform: capitalize;
}

/* Contact Us Form */
.message-form {
	background-color: #fbfbfb;
	display: flex;
	align-items: center;
	justify-content: center
}

.message-form .title h1 {
	font-size: 30px;
}

.message-form .title h3 {
	font-size: 26px;
}

.message-form .form-group {
	margin-bottom: 20px;
}

.message-form .form-group .form-control {
	padding: 25px 10px;
	border-radius: 8px !important;
}

textarea.form-control {
	height: 150px !important;
}

/* Top Destination Section */
.city-sec {
	margin: 50px 0 60px;
}

.city-sec .city-sec-heading {
	margin-bottom: 30px;
	position: relative;
}

.city-sec .city-sec-heading::before {
	content: '';
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 50%;
	height: 3px;
	background: #fcb23e;
}

.city-sec .city-sec-heading .city-title {
	position: relative;
	line-height: 1.3;
}

.city-sec .city-sec-heading .city-content {
	font-size: 17px;
	margin: 0;
}

/* Card Section */
.recommandedhead {
	position: relative;
}

.recommandedhead::before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 50%;
	height: 3px;
	background: #fcb23e;
}

.recommandedhead .recomended-title {
	line-height: 1.2;
}

.recommandedhead .recomended-content {
	font-size: 17px;
}

.card-custom {
	border-radius: 8px;
	padding: 0 0 5px;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: rgb(0 0 0 / 15%) -4px 8px 20px -6px;
}

.card-custom:hover .card-img figure img {
	transform: translate3d(0, 0, 0) scale(1);
	opacity: 0.5;
}

.card-custom .card-img figure {
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card-custom .card-content {
	padding: 0 12px !important;
}

.card-custom .card-content .top-content {
	width: 100%;
	align-items: center;
}

.card-custom .card-content .top-content .profile-img {
	flex: 0 0 20%;
	max-width: 20%;
}

.card-custom .card-content .top-content .profile-content {
	flex: 0 0 80%;
	max-width: 80%;
	padding: 0 0 0 10px !important;
}

.card-custom .card-content .top-content .profile-img .profile-content .profile-location i {
	font-size: 15px;
	padding-right: 4px;
}

.card-custom .review-0 {
	margin: 6px 0 10px;
}

.card-custom .review-0 .night {
	font-size: 15px;
}

.card-custom .profile-info ul {
	display: flex;
	align-items: center;
}

.card-custom .profile-info ul li {
	/* background: transparent ;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px; */
	margin-right: 20px !important;
}

.card-custom .profile-info ul li .font-icon {
	font-size: 15px;
}

.card-custom .profile-info ul li .font-icon i {
	font-size: 18px;
	padding-right: 2px;
}

/* Footer Section */
.custom-footer {
	border-top: 1px solid #dee2e6;
	border-right: unset !important;
	border-bottom: unset;
	padding: 25px 0;
}

.custom-footer .footer-language-btn a {
	text-decoration: unset;
	transition: .3s ease-in-out;
	position: relative;
	padding-bottom: 5px;
}

.custom-footer .footer-language-btn a:last-child {
	margin-left: 10px;
}

.custom-footer .footer-language-btn a::before {
	content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    background-color: #fcb23e;
    transition: all .3s ease-in-out;
}

.custom-footer .footer-language-btn a:hover::before {
	width: 100%;
}

.custom-footer .footer-menu ul li a {
	transform: .4s ease-in-out;
	position: relative;
	padding-bottom: 5px;
}

.custom-footer .footer-menu ul li a::before {
	content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    background-color: #fcb23e;
    transition: all .3s ease-in-out;
}

.custom-footer .footer-menu ul li a:hover::before {
	width: 100%;
}

.custom-footer .footer-icon {
	margin-bottom: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-flow: wrap;
}

.custom-footer .footer-icon a i {
	font-size: 23px;
	border: 1px solid #fcb23e;
	color: #fcb23e;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	transition: .4s all;
}

.custom-footer .footer-icon a i:hover {
	background-color: #fcb23e;
	color: #fff;
}

/* Listing Product */
.custom-shadow {
	box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.custom-product .product-content {
	display: flex;
	height: 100%;
	align-items: center;
}
.custom-product .product-content .inner-content{
	width: 100%;
}
.custom-product .custom-toggle {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: wrap;
    border-left: 1px solid #dee2e6;
}

.custom-product img {
	box-shadow: unset;
}

.custom-product .custom-toggle .edit-btn i {
	font-size: 17px;
}

.custom-product .custom-toggle .main-toggle-switch span {
	text-transform: capitalize;
	color: #fff;
	;
}

.custom-product .custom-toggle .main-toggle-switch .badge-warning {
	background-color: #fcb23e !important;
	padding: 10px 12px !important;
}

/* My Booking Page */
.cust-booking-img a img {
	box-shadow: unset;
}

.custom-booking-user {
	display: flex;
	flex-flow: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 7px;
	height: 80%;
	margin-top: 10px;
}

.custom-booking-user-inner {
	text-align: center;
}

.custom-booking-user .custom-booking-user-inner p {
	word-break: break-word;
	line-height: 1.2;
	font-size: 14px;
	margin: 10px 0 14px;
}

.custom-booking-user .custom-booking-user-inner span {
	background-color: #fcb23e !important;
	padding: 10px 35px !important;
	margin-top: 0 !important;
}

/* Copyright Section */
.copyright p {
	margin: 0;
	padding: 20px 0;
}

/* Contact Us Form */

/* Hyper Pay Form*/
.form-cust {
	margin: 0;
	padding: 0 15px;
	max-width: 100%;
}

.form-cust-label-brand {
	display: block;
	width: 100%;
	padding-bottom: 0;
}

.form-cust-brand {
	float: unset;
	padding-right: 0;
}

.wpwl-brand-card {
	position: absolute;
	top: 0;
	right: 0;
}

.form-cust-label {
	position: relative;
	max-width: max-content;
	padding-right: 10px;
	padding-bottom: 5px;
}

.form-cust-label::before {
	content: "*";
	position: absolute;
	top: 1px;
	right: 0;
	color: #dc3545;
}

.form-cust-w {
	width: 50%;
}

.cust-form-border {
	border: 1px solid #ced4da !important;
}

.cust-form-border:focus {
	border: 1px solid #ffc107 !important;
}
.cus-fav{
	position: absolute;
    top: 20px;
    right: 30px;
}
/* Hyper Pay Form End/*/

/* Privacy Page */
.policy-content h1{
	/* font-weight: 700; */
}
.policy-content{
	padding-left: 23px;
}
.policy-content p{
	line-height: 1.3;
	margin-bottom: 30px;
	text-align: justify;
}
.policy-content p a{
	color: #fdb750;
}
.policy-content ul{
	list-style: disc;
    margin: 0 0 30px 35px;
}
.policy-content ul li{
	line-height: 1.3;
}
.about-content{
	text-align: right;
}
/* Privacy Page End*/

/* custome Classes Start*/
.cust-single-detail .cust-image{
	flex: 0 0 15%;
	max-width: 15%;
}
.cust-single-detail .cust-content{
	flex: 0 0 85%;
	max-width: 85%;
}
.cust-inbox-main{
	background-color: #eee;
	width: 83.33%;
}
.cust-inbox-head{
	position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}
.cust-chat-box{
	position: sticky;
    top: 70px;
}
.cust-sidebar{
	background: transparent !important;
}
.cust-sidebar .cust-sidebar-list{
	align-items: center;
}
.cust-sidebar-list .cust-sidebar-list-detail .cut-date{
	display: block;
}
/* custome Classes End*/

/* Custom Global Classes */
.cust-filter-btn{
	border: 2px solid #dee2e6 !important;
	border-radius: 6px;
	padding: 3px 15px;
	margin-bottom: 8px;
}
.cust-filter-btn i{
	padding-left: 4px;
}
.cust-filter-btn:focus{
	outline: 1px solid #fcb23e !important;
}
.city-singal-h{
	height: calc(100vh - 64px) !important;
}
.cust-btn{
	line-height: 1;
    padding: 8px 15px;
    text-transform: capitalize;
}
/* Custom Global Classes End */

/* user side menu */
.cus-sidebar{
	border-right: 1px solid #dee2e6;
}
/* user side menu End */

/* Custom dropdown Menu*/
  .custom-dropdown {
	position: relative;
	width: 100%;
	display: none;
  }
  .custom-dropdown .selectBtn {
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	width: 100%;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background: #efefef;
	border: 1px solid #dee2e6!important;
  }
  .custom-dropdown .selectBtn:after {
	content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
  .custom-dropdown .selectBtn.toggle {
	border-radius: 3px 3px 0 0;
  }
  .custom-dropdown .selectDropdown {
	position: absolute;
	top: 100%;
	width: 100%;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	border-top: 1px solid #eee;
	z-index: 1;
	background: #fff;
	-webkit-transform: scale(1, 0);
			transform: scale(1, 0);
	-webkit-transform-origin: top center;
			transform-origin: top center;
	visibility: hidden;
	transition: 0.2s ease;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  .custom-dropdown .selectDropdown .option {
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
  }
  .custom-dropdown .selectDropdown .option:hover {
	background: #f8f8f8;
  }
  .custom-dropdown .selectDropdown.toggle {
	visibility: visible;
	-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
  }
/* Custom dropdown Menu End */
@media (max-width: 1024px){
	.cust-single-detail .cust-image{
		flex: 0 0 17%;
		max-width: 17%;
	}
	.cust-single-detail .cust-content{
		margin-left: 20px !important;
		flex: 0 0 84%;
		max-width: 84%;
	}
}
@media (max-width: 991px) {
	header .lang-res .dropdown button {
		margin-top: 0 !important;
	}

	.header_area .head-menu {
		display: none;
	}

	.header_area .ham-custom {
		position: absolute;
		top: -4px;
		right: 20px;
	}

	.res-font {
		font-size: 12px;
	}

	.imgcity {
		width: 100% !important;
	}

	header nav .header-btn {
		display: none;
	}

	header nav .lang-res .login-btn {
		display: none;
	}

	.header_area .main_menu .row .col-lg-6 {
		display: none;
	}

	.main_formbg {
		width: 100%;
	}

	.custom-footer .footer-icon {
		justify-content: center;
	}

	.form-cust-group {
		width: 100%;
		padding-right: 0;
	}

	.form-cust-w {
		width: 100%;
	}
	.cust-inbox-main{
		width: 100%;
	}
}
@media (max-width: 767px) {
	.header_area {
		position: relative;
	}

	.header_area .header-custom {
		padding-left: 20px;
		padding-right: 20px;
	}

	.hero-banner {
		padding-top: 0;
	}

	header .lang-res {
		padding-right: 30px;
	}

	.header_area .ham-custom {
		right: 10px;
	}

	.main_formbg {
		margin: 7rem auto 0;
	}

	.pd-sm-box {
		padding: 0 5px !important;
	}

	.custom-product .custom-toggle {
		border-radius: unset;
		box-shadow: unset;
		border: unset;
		margin-top: 10px;
	}

	.custom-product .custom-toggle .custom-toggle-inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		padding: 5px 5px 5px 10px;
		flex-flow: wrap;
	}
	.form-cust {
		padding: 0;
	}
	.pl-xs{
		padding-left: 10px !important;
	}
	.pd-boxes-xs{
		padding: 0 10px;
	}
	sidebar .list-wrap{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.cust-inbox-main .cust-chat-box header{
		height: unset;
		display: block;
		padding: 5px 10px;
		position: relative;
	}
	.cust-inbox-main .cust-chat-box header .cus-open{
		position: absolute;
		top: 30%;
		right: 15px;
		transform: translateY(-50%);
	}
	.cust-image-size{
		width: 200px !important;
		height: 200px !important;
	}
}
@media (max-width: 575px) {
	.custom-booking-user {
		height: 100%;
		margin-top: 0;
		justify-content: flex-start;
		padding: 0;
	}
	.bd-l-remove{
		border-left: unset !important;
	}

	.custom-booking-user .custom-booking-user-inner {
		display: flex;
		align-items: center;
	}

	.custom-booking-user .custom-booking-user-inner a img {
		width: 55px;
		height: 55px;
	}

	.custom-booking-user .custom-booking-user-inner .custom-booking-user-detail {
		padding-left: 15px;
	}

	.custom-booking-user .custom-booking-user-inner p {
		margin: 0px 0 2px;
	}

	.custom-booking-user .custom-booking-user-inner span {
		padding: 5px 15px !important;
		margin-top: 0 !important;
		display: block;
		max-width: max-content;
	}
	.pd{
		padding: 0 5px;
	}
	.mb-xs{
		margin-bottom: 15px;
	}
	.text-xs-center{
		text-align: center;
	}
	.cust-single-detail{
		display: block !important;
		text-align: center;
	}
	.cust-single-detail .cust-image{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.cust-single-detail .cust-content{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.custom-dropdown{
		display: block;
	}
	.dp-none{
		display: none;
	}
}
@media (max-width: 640px) {
	.header_area .navbar {
		padding: 10px;
	}
}
@media (max-width: 414px) {
	header nav .header-btn {
		padding: 5px 10px !important;
	}

	header .header-space {
		gap: 0;
		justify-content: space-between !important;
	}

	.img-130x32 {
		width: 120px;
	}
	.font-sm{
		font-size: 15px !important;
	}
}
@media (max-width: 375px) {
	.header_area .header-custom {
		padding-left: 5px;
		padding-right: 5px;
	}

	.header_area .ham-custom {
		right: -5px;
	}

	header .lang-res {
		padding-right: 30px;
	}

	.main-banner {
		height: 45rem;
	}

	.hero-banner .search-input input {
		height: 50px;
	}

	.main_formbg {
		padding: 20px 10px;
		margin: 5.5rem auto 0;
	}

	.hero-banner h1 {
		font-size: 2.2rem;
		margin: 0 auto 1rem;
	}

	.mg-sm {
		margin-top: 10px !important;
	}

	.pd-sm-box {
		padding: 0;
	}
}